@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

        <h2>Save state in a Cookie example</h2>
        <form asp-controller="cookieexample" asp-action="index" method="post">
            <div>
                <label>Simple value</label>
                <input type="text" name="value" />
            </div>
            <div>
                <input type="submit" value="Send" />
            </div>
            <a asp-controller="cookieexample" asp-action="viewcookie">View Cookie value</a>
        </form>
